<a href="https://colab.research.google.com/github/psgrigoletti/margem-liquida-colab/blob/main/investpy_teste_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install investpy

Requirement already satisfied: investpy in /usr/local/lib/python3.7/dist-packages (1.0.8)
Requirement already satisfied: Unidecode>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.2)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.21.5)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (4.8.0)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.7/dist-packages (from investpy) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2021.10.8)

In [4]:
import investpy

In [6]:
df = investpy.get_stock_historical_data(stock='BBAS3',
                                        country='Brazil',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
df

             Open   High    Low  Close    Volume Currency
Date
2010-01-04  16.28  16.38  16.22  16.33   3632593      BRL
2010-01-05  16.44  16.44  15.94  16.17   3077283      BRL
2010-01-06  16.11  16.38  16.07  16.19   2741913      BRL
2010-01-07  16.08  16.23  16.06  16.19   1549888      BRL
2010-01-08  16.22  16.29  16.10  16.29   2045870      BRL
...           ...    ...    ...    ...       ...      ...
2019-12-20  48.98  49.13  48.30  49.09   9537300      BRL
2019-12-23  48.99  50.57  48.78  50.57   8803400      BRL
2019-12-26  50.45  51.20  50.33  51.14  10031600      BRL
2019-12-27  51.29  51.60  50.24  50.92   8633100      BRL
2019-12-30  51.05  51.28  50.78  50.78   7839900      BRL

[2472 rows x 6 columns]

In [9]:
search_result = investpy.search_quotes(text='Banco do Brasil', products=['stocks'],
                                       countries=['Brazil'], n_results=1)
information = search_result.retrieve_information()
print(information)

{'prevClose': 35.33, 'dailyRange': '35.38-36.23', 'revenue': 77700000000, 'open': 35.41, 'weekRange': '27.02-36.75', 'eps': 6.15, 'volume': 21094400, 'marketCap': 102870000000, 'dividend': '2.5038(6.95%)', 'avgVolume': 15160231, 'ratio': 5.74, 'beta': 1.35, 'oneYearReturn': '5.91%', 'sharesOutstanding': 2853399401, 'nextEarningDate': '12/05/2022'}

In [11]:
technical_indicators = search_result.retrieve_technical_indicators(interval="daily")
print(technical_indicators)

              indicator     value           signal
0               RSI(14)   82.0660       overbought
1            STOCH(9,6)   70.0570              buy
2          STOCHRSI(14)  100.0000       overbought
3           MACD(12,26)    1.1600              buy
4               ADX(14)   55.0490              buy
5           Williams %R   -3.3900       overbought
6               CCI(14)  154.1436              buy
7               ATR(14)    0.8221  high_volatility
8        Highs/Lows(14)    2.4014              buy
9   Ultimate Oscillator   62.8300              buy
10                  ROC   10.3800              buy
11  Bull/Bear Power(13)    3.9980              buy

In [10]:
default_currency = search_result.retrieve_currency()
print(default_currency)

BRL

In [28]:
dados_bbas3 = investpy.stocks.get_stock_company_profile("BBAS3", "Brazil")
descricao_bbas3 = dados_bbas3.get("desc")

In [29]:
investpy.stocks.get_stock_dividends("BBAS3", "Brazil")

         Date  Dividend  Type Payment Date Yield
0  2022-03-03  0.359812  None         None  None
1  2022-03-03  0.459298  None         None  None
2  2021-12-14  0.174991  None         None  None
3  2021-11-23  0.393703  None         None  None
4  2021-09-14  0.184740  None         None  None
5  2021-08-24  0.348289  None         None  None
6  2021-06-14  0.168519  None         None  None
7  2021-05-24  0.340111  None         None  None
8  2021-05-24  0.074335  None         None  None
9  2021-03-12  0.145714  None         None  None
10 2021-02-23  0.435864  None         None  None
11 2020-12-14  0.116985  None         None  None
12 2020-11-17  0.194774  None         None  None
13 2020-09-14  0.102863  None         None  None